@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "./_reset.scss";
$grey: #303952;
$light-grey: #596275;

body {
  font-family: "Mulish", sans-serif;
  font-size: 62.5%;
  padding: 4rem 5rem;
}

.search {
  &__input {
    padding: 1rem 6rem;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1.3rem;
    border: 2px solid $grey;
    color: $grey;
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
    &::placeholder {
      font-size: 1.2rem;
      color: $light-grey;
    }
  }
}

.image__container {
  margin-top: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-template-rows: 300px;
  gap: 20px;
  flex-wrap: wrap;
}

.image__box {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 400px;
  position: relative;
}

img {
  height: 300px;
  width: 400px;
  cursor: pointer;
}

.black__box {
  background-color: rgba(black, 0.7);
  width: 400px;
  height: 65px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hidden {
  display: none;
}

.black__box--infos {
  display: flex;
  align-items: center;
}
.black__box--profile {
  width: 30px;
  height: 30px;
  margin-left: 1rem;
  border-radius: 50%;
}

.black__box--user {
  color: white;
  font-size: 1.2rem;
  font-weight: 200;
  margin-left: 1rem;
}

.black__box--likes {
  font-size: 1rem;
  color: white;
  margin-right: 1rem;
}
